extends layouts/base.pug

block content
  section
    h1.mb-4 Search things all in one spot

    p.mb-8 Search for your favorite here using this bar

    form(method="get", action="/results")
      input.p-4.bg-primary.w-full.relative.z-100.text-base.border.border-primary.my-8(type="search", name="query", placeholder="Search here")
      button Submit